<div class="container-fluid bg-light text-primary">
  <div class="row">
    <div class="col-6 p-5 pl-5 ">
      <h2 class="font-weight-bold">Schoodle</h2>
    </div>
    <div class="col-6 text-right p-5 pr-5">Hello, user!</div>
  </div>
</div>

